<style>
  body {
    background-image: url("<%=ORSView.APP_CONTEXT%>/img/201.webp");
    background-size: 100%;
  }
  .cl {
    font-family: Lucida Calligraphy;
  }
</style>
<app-navbar></app-navbar>
<div>
  <div
    class="row"
    style="
      padding-bottom: 14%;
      background: url(assets/files/B1.jpg) no-repeat center center;
      background-attachment: fixed;
      background-size: cover;
      width: cover;
      height: 120vh;
    "
  >
    <p
      class="text-cs1 font-family ml-4 font-weight-bold"
      style="
        padding-top: 1%;
        padding-left: 36%;
        font-size: 45px;
        color: rgb(255, 255, 255);
        text-align: center;
        align-content: center;
      "
    >
      <br>
      <br>
      <br>
      {{ "WELCOME TO ORS" | translate }}
    </p>
  </div>
</div>
<app-footer></app-footer>